package nc.vo.${bill.packageName}.${bill.classNameLower};

import nc.vo.dygpubapp.appframe.entity.impl.AbstractBill;
import nc.vo.dygpubapp.appframe.meta.def.IBillMeta;
import nc.vo.dygpubapp.appframe.meta.impl.BillMetaFactory;

/**
 * $bill.billName
 * 创建日期:$date
 * @author $bill.author
 * @version NCPrj 1.0
 */
@SuppressWarnings("serial")
#set($headVoClassName = $bill.headCode)
#if(!$headVoClassName || $headVoClassName == "")
#set($headVoClassName = $bill.billCode + "HVO")
#end
@nc.vo.annotation.AggVoInfo(parentVO = "nc.vo.${bill.packageName}.${bill.classNameLower}.${headVoClassName}")
public class  Agg${bill.className}VO extends AbstractBill{
 
	
	public IBillMeta getMetaData() {
		return BillMetaFactory.getInstance().getBillMeta("${bill.classNameLower}.${headVoClassName}");
	}
}
