package nc.vo.${bill.packageName}.${bill.classNameLower};

import java.util.Set;

import nc.vo.dygpubapp.appframe.entity.def.ISuperVO;
import nc.vo.dygpubapp.appframe.entity.util.SuperVOHelper;
import nc.vo.dygpubapp.appframe.meta.def.IVOMeta;
import nc.vo.dygpubapp.appframe.meta.impl.VOMetaFactory;
import nc.vo.pub.*;

/**
 * $bill.billName
 * 创建日期:$date
 * @author $bill.author
 * @version NCPrj 1.0
 */
@SuppressWarnings("serial")
#set($bodyVoClassName = $bill.bodyCode)
#if($currentBodyCode)
#set($bodyVoClassName = $currentBodyCode)
#end
public class ${bodyVoClassName}VO extends SuperVO implements ISuperVO{
	
	#set($bodyTableName = $bill.bodyTableName)
	#if(!$bodyTableName || $bodyTableName == "")
	#set($bodyTableName = "ahu_" + $bill.billCode.toLowerCase() + "_b")
	#end
	public static final String TABLENAME="$bodyTableName";
	
#foreach($field in $bill.bodyFields)
	private ${field.javaType} ${field.name};
#end
	private java.lang.Integer dr;
	private nc.vo.pub.lang.UFDateTime ts;

#foreach($field in $bill.bodyFields)
	public static final String ${field.name.toUpperCase()} = "${field.name}";
#end
	public static final String DR = "dr";
	public static final String TS = "ts";
		
#foreach($field in $bill.bodyFields)
	/**
	 * 属性${field.name}的Getter方法.
	 * 创建日期:$date
	 * @return ${field.javaType}
	 */
	public ${field.javaType} get${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)} () {
		return ${field.name};
	}   
	/**
	 * 属性${field.name}的Setter方法.
	 * 创建日期:$date
	 * @param new${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)} ${field.javaType}
	 */
	public void set${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)} (${field.javaType} new${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)} ) {
	 	this.${field.name} = new${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)};
	} 	  
#end
	/**
	 * 属性dr的Getter方法.
	 * 创建日期:$date
	 * @return java.lang.Integer
	 */
	public java.lang.Integer getDr () {
		return dr;
	}   
	/**
	 * 属性dr的Setter方法.
	 * 创建日期:$date
	 * @param newDr java.lang.Integer
	 */
	public void setDr (java.lang.Integer newDr ) {
	 	this.dr = newDr;
	} 	  
	/**
	 * 属性ts的Getter方法.
	 * 创建日期:$date
	 * @return nc.vo.pub.lang.UFDateTime
	 */
	public nc.vo.pub.lang.UFDateTime getTs () {
		return ts;
	}   
	/**
	 * 属性ts的Setter方法.
	 * 创建日期:$date
	 * @param newTs nc.vo.pub.lang.UFDateTime
	 */
	public void setTs (nc.vo.pub.lang.UFDateTime newTs ) {
	 	this.ts = newTs;
	} 	  
 
	/**
	  * <p>取得该VO父对象字段.
	  * <p>
	  * 创建日期:$date
	  * @return java.lang.String
	  */
	public java.lang.String getParentPKFieldName() {
	    return ${bill.headFields.get(0).name.toUpperCase()};
	}   
    
	/**
	  * <p>取得表主键.
	  * <p>
	  * 创建日期:$date
	  * @return java.lang.String
	  */
	public java.lang.String getPKFieldName() {
	  return ${bill.bodyFields.get(0).name.toUpperCase()};
	}
    
	/**
	 * <p>返回表名称.
	 * <p>
	 * 创建日期:$date
	 * @return java.lang.String
	 */
	public java.lang.String getTableName() {
		return TABLENAME;
	}    
    
    /**
	  * 按照默认方式创建构造子.
	  *
	  * 创建日期:$date
	  */
     public ${bodyVoClassName}VO() {
		super();	
	}    
     
     public IVOMeta getMetaData() {
 		IVOMeta vOMeta = VOMetaFactory.getInstance().getVOMeta("${bill.classNameLower}.${bodyVoClassName}VO");
 		return vOMeta;
 	}

 	public Set<String> usedAttributeNames() {
 		return SuperVOHelper.usedAttributeNames(this);
 	}

 	public Object getAttributeValue(String attributeName) {
 		return SuperVOHelper.getAttributeValue(this, attributeName);
 	}


 	@Override
 	public void setAttributeValue(String attributeName, Object value) {
 		SuperVOHelper.setAttributeValue(this, attributeName, value);
 	}

 	@Override
 	public String getPrimaryKey() {
 		return SuperVOHelper.getPrimaryKey(this);
 	}

 	@Override
 	public void setPrimaryKey(String key) {
 		SuperVOHelper.setPrimaryKey(this, key);
 	}

 	@Override
 	public String[] getAttributeNames() {
 		return SuperVOHelper.getAttributeNames(this);
 	}
}
