package nc.ui.${bill.packageName}.${bill.classNameLower};

import nc.ui.trade.bill.AbstractManageController;
import nc.ui.trade.businessaction.IBusinessActionType;
import nc.ui.trade.button.IBillButton;
import nc.ui.trade.button.IButton;
import nc.vo.${bill.packageName}.${bill.classNameLower}.${bill.className}HVO;
import nc.vo.${bill.packageName}.${bill.classNameLower}.Agg${bill.className}VO;
#if($bill.bodyCodeList && $bill.bodyCodeList.size() > 0)
#foreach($bodyCode in $bill.bodyCodeList)
import nc.vo.${bill.packageName}.${bill.classNameLower}.${bodyCode}VO;
#end
#end
import nc.vo.ahu.pub.PubConst;

/**
 * $bill.billName - 控制器
 * @author $bill.author
 * @since $year
 */
public class ${bill.className}Controller extends AbstractManageController {

	private String billType = PubConst.AHU_BILLTYPE_${bill.className};

	private String[] billVoName = new String[] {
			Agg${bill.className}VO.class.getName(),
			${bill.className}HVO.class.getName(),
#if($bill.bodyCodeList && $bill.bodyCodeList.size() > 0)
#foreach($bodyCode in $bill.bodyCodeList)
			${bodyCode}VO.class.getName(),
#end
#end
		};

	public String[] getListBodyHideCol() {
		return null;
	}

	public int[] getListButtonAry() {
		return new int[] {
				IBillButton.Query,
				IBillButton.Add,
				IBillButton.Edit,
				IButton.CardEdit,
				IBillButton.Save,
				IBillButton.Cancel,
				IBillButton.Delete,
				IBillButton.Refresh,
				IBillButton.Commit,
				IBillButton.Audit,
				IBillButton.CancelAudit,
				IBillButton.Print,
				IBillButton.ImportBill
		};
	}

	public String[] getListHeadHideCol() {
		return null;
	}

	public boolean isShowListRowNo() {
		return true;
	}

	public boolean isShowListTotal() {
		return false;
	}

	public String getBillType() {
		return billType;
	}

	public String[] getBillVoName() {
		return billVoName;
	}

	public String getBodyCondition() {
		return null;
	}

	public String getBodyZYXKey() {
		return null;
	}

	public int getBusinessActionType() {
		return IBusinessActionType.PLATFORM;
	}

	public String getChildPkField() {
		return null;
	}

	public String getHeadZYXKey() {
		return null;
	}

	public String getPkField() {
		return ${bill.className}HVO.PK_${bill.code.toUpperCase()}_H;
	}

	public Boolean isEditInGoing() throws Exception {
		return null;
	}

	public boolean isExistBillStatus() {
		return true;
	}

	public boolean isLoadCardFormula() {
		return false;
	}

	public String[] getCardBodyHideCol() {
		return null;
	}

	public int[] getCardButtonAry() {
		return new int[] {
				IBillButton.Query,
				IBillButton.Add,
				IBillButton.Edit,
				IButton.CardEdit,
				IBillButton.Line,
				IBillButton.Save,
				IBillButton.Cancel,
				IBillButton.Delete,
				IBillButton.Refresh,
				IBillButton.Commit,
				IBillButton.Audit,
				IBillButton.CancelAudit,
				IBillButton.Print,
				IBillButton.ImportBill,
				IBillButton.Return
		};
	}

	public boolean isShowCardRowNo() {
		return true;
	}

	public boolean isShowCardTotal() {
		return false;
	}

}
