package nc.vo.${bill.packageName}.${bill.classNameLower};

import java.io.Serializable;
import nc.vo.pub.CircularlyAccessibleValueObject;
import nc.vo.pub.VOStatus;
import nc.vo.pub.lang.UFDate;
import nc.vo.pub.lang.UFDouble;

/**
 * $bill.billName - 表体VO
 * @author $bill.author
 * @since $year
 */
#set($bodyClassName = $bill.bodyCode)
#if($currentBodyCode)
#set($bodyClassName = $currentBodyCode)
#end
public class ${bodyClassName}VO extends CircularlyAccessibleValueObject implements Serializable {

    private static final long serialVersionUID = ${bodyClassName.hashCode()}L;

#foreach($field in $bill.bodyFields)
    /**
     * $field.label
     */
    public static final String ${field.name.toUpperCase()} = "${field.name}";

#end

    public ${bodyClassName}VO() {
        super();
    }

#foreach($field in $bill.bodyFields)
    /**
     * 获取$field.label
     */
    public ${field.javaType} get${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)}() {
        return (${field.javaType}) getAttributeValue(${field.name.toUpperCase()});
    }

    /**
     * 设置$field.label
     */
    public void set${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)}(${field.javaType} ${field.name}) {
        setAttributeValue(${field.name.toUpperCase()}, ${field.name});
    }

#end
}
